* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #56BAD8;
}

header {
  margin-left: -13px;
  width: 110%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
  color: #080838;
}

#divTurnos {
  background-color: #C9ECF4;
  height: 300px;
  width: 100%;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  color: #080838;
  padding: 15px 5px;
}

.btnAgregar {
  margin: 5px;
  align-self: flex-end;
}

.btn-outline-warning {
  border: none;
  border-radius: 30px;
  padding: 0px 10px;
}

.bi {
  font-size: 50px;
  color: #080838;
}

h1{
  color: black;
}

h2{
  overflow: hidden;
}